In [3]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

dict1["april_batch"]["student"]["name"]

'Mike'

In [13]:
#3
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]

{'python': 80, 'maths': 70}

In [15]:
#3 
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

dict1["april_batch"]["student"]["name"] = 'Abhishsek'
dict1

{'april_batch': {'student': {'name': 'Abhishsek',
   'marks': {'python': 80, 'maths': 70}}}}

In [16]:
#4
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
dict1["april_batch"]["student"]["marks"]['DL'] = 80
dict1["april_batch"]["student"]["marks"]['ML'] = 70
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70, 'DL': 80, 'ML': 70}}}}